<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Copa do Mundo 2026</title>

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <script
        src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js">
    </script>
</head>

<body>

    <div style="margin-top: 50px;" class="ui container">

        <h1
            class="ui center aligned header"
            style="color:#009c3b">

            Copa do Mundo 2026

        </h1>

        {% for lista in lista_dados %}

            <h2
                class="ui center aligned header"
                style="color:#002776">

                {{lista[0]}}

            </h2>

        {% endfor %}

        <form
            class="ui form"
            action="/add"
            method="post"
            id="formAdd">

            <div class="field">

                <label>Cadastro de Seleções</label>

                <input
                    type="text"
                    name="selecao"
                    placeholder="Seleção..."
                >

                <br><br>

                <input
                    type="text"
                    name="continente"
                    placeholder="Continente..."
                >

                <br><br>

                <input
                    type="number"
                    name="numero_copas"
                    placeholder="Número de Copas..."
                >

                <br><br>

            </div>

        </form>

        <br>

        <div style="display: flex; gap:10px;">

            <button
                class="ui green button"
                type="button"
                id="add">

                Adicionar Seleção

            </button>

            <form class="ui form" action="/sort" method="post">

                <button
                    class="ui yellow button"
                    type="submit">

                    Ordem Alfabética

                </button>

            </form>

            <form class="ui form" action="/reverse" method="post">

                <button
                    class="ui orange button"
                    type="submit">

                    Ordem Reversa

                </button>

            </form>

            <form class="ui form" action="/clear" method="post">

                <button
                    class="ui red button"
                    type="submit">

                    Apagar Lista

                </button>

            </form>

        </div>

        <hr>

        {% for lista in lista_front %}

        <div class="ui segment">

            <p class="ui big header">

                🌎 Seleção:
                {{lista[0]}}

                &emsp;|&emsp;

                🗺️ Continente:
                {{lista[1]}}

                &emsp;|&emsp;

                🏆 Copas:
                {{lista[2]}}

            </p>

            <a
                class="ui red button"
                href="/delete/{{ lista[0] }}">

                Remover

            </a>

        </div>

        {% endfor %}

    </div>

    <script>

        const add = document.getElementById('add')

        const form = document.getElementById('formAdd')

        add.addEventListener('click', () => form.submit())

    </script>

</body>

</html>
